C_Auto posting.blueprint.json
{
    "name": "C_Auto posting",
    "flow": [
        {
            "id": 2,
            "module": "airtable:ActionSearchRecords",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 11644137
            },
            "mapper": {
                "base": "appPVhgG5w5btA6UB",
                "table": "tblMBl5Ra3YjiQwVj",
                "fields": [
                    "Тема",
                    "Статус",
                    "Публикация в"
                ],
                "formula": "{Статус} = 'в ожидании'",
                "maxRecords": "1",
                "useColumnId": false
            },
            "metadata": {
                "designer": {
                    "x": -1603,
                    "y": -42
                },
                "restore": {
                    "expect": {
                        "base": {
                            "mode": "chose",
                            "label": "Content factory \"Soft Techn\""
                        },
                        "sort": {
                            "mode": "chose"
                        },
                        "view": {
                            "mode": "chose"
                        },
                        "table": {
                            "mode": "chose",
                            "label": "🌐 Соцсети рилсы"
                        },
                        "fields": {
                            "mode": "chose",
                            "label": [
                                "Тема",
                                "Статус",
                                "Публикация в"
                            ]
                        },
                        "useColumnId": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable3"
                            },
                            "label": "My Airtable OAuth connection (User ID: usryO9E9iW5wzluhG)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "formula",
                        "type": "text",
                        "label": "Formula"
                    },
                    {
                        "name": "maxRecords",
                        "type": "integer",
                        "label": "Limit"
                    },
                    {
                        "name": "sort",
                        "spec": [
                            {
                                "name": "field",
                                "type": "select",
                                "label": "Field",
                                "dynamic": true,
                                "options": []
                            },
                            {
                                "name": "direction",
                                "type": "select",
                                "label": "Direction",
                                "options": [
                                    {
                                        "label": "Descending",
                                        "value": "desc"
                                    },
                                    {
                                        "label": "Ascending",
                                        "value": "asc"
                                    }
                                ]
                            }
                        ],
                        "type": "array",
                        "label": "Sort"
                    },
                    {
                        "name": "view",
                        "type": "select",
                        "label": "View"
                    },
                    {
                        "name": "fields",
                        "type": "select",
                        "label": "Output Fields",
                        "multiple": true
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "Тема",
                        "type": "text",
                        "label": "Тема",
                        "multiline": true
                    },
                    {
                        "name": "Статус",
                        "type": "text",
                        "label": "Статус"
                    },
                    {
                        "name": "Публикация в",
                        "time": true,
                        "type": "date",
                        "label": "Публикация в"
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "util:FunctionSleep",
            "version": 1,
            "parameters": {},
            "mapper": {
                "duration": "300"
            },
            "metadata": {
                "designer": {
                    "x": -1089,
                    "y": -41
                },
                "restore": {},
                "expect": [
                    {
                        "name": "duration",
                        "type": "uinteger",
                        "label": "Delay",
                        "required": true,
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    }
                ]
            }
        },
        {
            "id": 6,
            "module": "util:FunctionSleep",
            "version": 1,
            "parameters": {},
            "mapper": {
                "duration": "300"
            },
            "metadata": {
                "designer": {
                    "x": -793,
                    "y": 296
                },
                "restore": {},
                "expect": [
                    {
                        "name": "duration",
                        "type": "uinteger",
                        "label": "Delay",
                        "required": true,
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    }
                ]
            }
        },
        {
            "id": 7,
            "module": "util:FunctionSleep",
            "version": 1,
            "parameters": {},
            "mapper": {
                "duration": "300"
            },
            "metadata": {
                "designer": {
                    "x": -550,
                    "y": -47
                },
                "restore": {},
                "expect": [
                    {
                        "name": "duration",
                        "type": "uinteger",
                        "label": "Delay",
                        "required": true,
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    }
                ]
            }
        },
        {
            "id": 8,
            "module": "util:FunctionSleep",
            "version": 1,
            "parameters": {},
            "mapper": {
                "duration": "300"
            },
            "metadata": {
                "designer": {
                    "x": -253,
                    "y": 302
                },
                "restore": {},
                "expect": [
                    {
                        "name": "duration",
                        "type": "uinteger",
                        "label": "Delay",
                        "required": true,
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    }
                ]
            }
        },
        {
            "id": 10,
            "module": "airtable:ActionGetRecord",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 11644137
            },
            "mapper": {
                "id": "{{2.id}}",
                "base": "appPVhgG5w5btA6UB",
                "table": "tblMBl5Ra3YjiQwVj",
                "useColumnId": false
            },
            "metadata": {
                "designer": {
                    "x": -76,
                    "y": -61
                },
                "restore": {
                    "expect": {
                        "base": {
                            "mode": "chose",
                            "label": "Content factory \"Soft Techn\""
                        },
                        "table": {
                            "mode": "chose",
                            "label": "🌐 Соцсети рилсы"
                        },
                        "useColumnId": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable3"
                            },
                            "label": "My Airtable OAuth connection (User ID: usryO9E9iW5wzluhG)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "Record ID",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "Тема",
                        "type": "text",
                        "label": "Тема",
                        "multiline": true
                    },
                    {
                        "name": "Категория",
                        "type": "text",
                        "label": "Категория"
                    },
                    {
                        "name": "Статус",
                        "type": "text",
                        "label": "Статус"
                    },
                    {
                        "name": "Сценарий / текст рилса",
                        "type": "text",
                        "label": "Сценарий / текст рилса",
                        "multiline": true
                    },
                    {
                        "name": "Рилс",
                        "type": "text",
                        "label": "Рилс"
                    },
                    {
                        "name": "Публикация в",
                        "time": true,
                        "type": "date",
                        "label": "Публикация в"
                    },
                    {
                        "name": "Дата создания",
                        "type": "date",
                        "label": "Дата создания"
                    },
                    {
                        "name": "Дата изминения",
                        "type": "date",
                        "label": "Дата изминения"
                    },
                    {
                        "name": "Описание",
                        "type": "text",
                        "label": "Описание",
                        "multiline": true
                    },
                    {
                        "name": "Почему интересно?",
                        "type": "text",
                        "label": "Почему интересно?",
                        "multiline": true
                    },
                    {
                        "name": "Полезные советы",
                        "type": "text",
                        "label": "Полезные советы",
                        "multiline": true
                    },
                    {
                        "name": "Шаблоны",
                        "type": "text",
                        "label": "Шаблоны"
                    },
                    {
                        "name": "Instagram",
                        "type": "boolean",
                        "label": "Instagram"
                    },
                    {
                        "name": "Youtube",
                        "type": "boolean",
                        "label": "Youtube"
                    },
                    {
                        "name": "Pix",
                        "type": "text",
                        "label": "Pix"
                    }
                ]
            }
        },
        {
            "id": 11,
            "module": "builtin:BasicRouter",
            "version": 1,
            "parameters": {
                "else": 0
            },
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 275,
                    "y": -67
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": null,
                            "module": "placeholder:Placeholder",
                            "filter": {
                                "name": "Одобрено",
                                "conditions": []
                            },
                            "metadata": {
                                "designer": {
                                    "x": 591,
                                    "y": -334
                                }
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 4,
                            "module": "airtable:ActionUpdateRecords",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 11644137
                            },
                            "filter": {
                                "name": "В ожидании",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{10.`Статус`}}",
                                            "b": "в ожидании",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "id": "{{10.id}}",
                                "base": "appPVhgG5w5btA6UB",
                                "table": "tblMBl5Ra3YjiQwVj",
                                "record": {
                                    "fld6kxDM6hZqHPkYm": "одобрено",
                                    "fldsodIpBaKP1bbc5": "{{now}}"
                                },
                                "typecast": false,
                                "useColumnId": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1119,
                                    "y": -62
                                },
                                "restore": {
                                    "expect": {
                                        "base": {
                                            "label": "Content factory \"Soft Techn\""
                                        },
                                        "table": {
                                            "label": "🌐 Соцсети рилсы"
                                        },
                                        "record": {
                                            "nested": {
                                                "fld6kxDM6hZqHPkYm": {
                                                    "mode": "chose",
                                                    "label": "одобрено"
                                                },
                                                "fldExr80UctjokLh0": {
                                                    "mode": "chose"
                                                },
                                                "fldQucwv28f3MlHwJ": {
                                                    "mode": "edit"
                                                },
                                                "fldeBkExaaVnlqv33": {
                                                    "mode": "chose"
                                                }
                                            }
                                        },
                                        "typecast": {
                                            "mode": "chose"
                                        },
                                        "useColumnId": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "airtable3"
                                            },
                                            "label": "My Airtable OAuth connection (User ID: usryO9E9iW5wzluhG)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:airtable3,airtable2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "base",
                                        "type": "select",
                                        "label": "Base",
                                        "required": true
                                    },
                                    {
                                        "name": "typecast",
                                        "type": "boolean",
                                        "label": "Smart links",
                                        "required": true
                                    },
                                    {
                                        "name": "useColumnId",
                                        "type": "boolean",
                                        "label": "Use Column ID",
                                        "required": true
                                    },
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "Record ID",
                                        "required": true
                                    },
                                    {
                                        "name": "record",
                                        "spec": [
                                            {
                                                "name": "fldxhhO1Pn3LXRucy",
                                                "type": "text",
                                                "label": "Тема"
                                            },
                                            {
                                                "name": "fldIrLPWkMh1s0KoR",
                                                "type": "text",
                                                "label": "Категория"
                                            },
                                            {
                                                "mode": "edit",
                                                "name": "fld6kxDM6hZqHPkYm",
                                                "type": "select",
                                                "label": "Статус"
                                            },
                                            {
                                                "name": "fldres5s7kmdjzVG1",
                                                "type": "text",
                                                "label": "Сценарий / текст рилса"
                                            },
                                            {
                                                "name": "fldZ5PSxBoR6eCXN8",
                                                "type": "text",
                                                "label": "Рилс"
                                            },
                                            {
                                                "name": "fldsodIpBaKP1bbc5",
                                                "time": true,
                                                "type": "date",
                                                "label": "Публикация в"
                                            },
                                            {
                                                "name": "fldy7HaSBvsS6ZmaE",
                                                "type": "text",
                                                "label": "Описание"
                                            },
                                            {
                                                "name": "fldcznPvANOHwOAPK",
                                                "type": "text",
                                                "label": "Почему интересно?"
                                            },
                                            {
                                                "name": "fldIfbbM2bmPaUbc2",
                                                "type": "text",
                                                "label": "Полезные советы"
                                            },
                                            {
                                                "mode": "edit",
                                                "name": "fldQucwv28f3MlHwJ",
                                                "type": "select",
                                                "label": "Шаблоны"
                                            },
                                            {
                                                "name": "fldeBkExaaVnlqv33",
                                                "type": "boolean",
                                                "label": "Instagram"
                                            },
                                            {
                                                "name": "fldExr80UctjokLh0",
                                                "type": "boolean",
                                                "label": "Youtube"
                                            },
                                            {
                                                "name": "fldumcQ1BfMLYw0KP",
                                                "type": "text",
                                                "label": "Pix"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "createdTime",
                                        "type": "date",
                                        "label": "Created Time"
                                    },
                                    {
                                        "name": "Тема",
                                        "type": "text",
                                        "label": "Тема",
                                        "multiline": true
                                    },
                                    {
                                        "name": "Категория",
                                        "type": "text",
                                        "label": "Категория"
                                    },
                                    {
                                        "name": "Статус",
                                        "type": "text",
                                        "label": "Статус"
                                    },
                                    {
                                        "name": "Сценарий / текст рилса",
                                        "type": "text",
                                        "label": "Сценарий / текст рилса",
                                        "multiline": true
                                    },
                                    {
                                        "name": "Рилс",
                                        "type": "text",
                                        "label": "Рилс"
                                    },
                                    {
                                        "name": "Публикация в",
                                        "time": true,
                                        "type": "date",
                                        "label": "Публикация в"
                                    },
                                    {
                                        "name": "Дата создания",
                                        "type": "date",
                                        "label": "Дата создания"
                                    },
                                    {
                                        "name": "Дата изминения",
                                        "type": "date",
                                        "label": "Дата изминения"
                                    },
                                    {
                                        "name": "Описание",
                                        "type": "text",
                                        "label": "Описание",
                                        "multiline": true
                                    },
                                    {
                                        "name": "Почему интересно?",
                                        "type": "text",
                                        "label": "Почему интересно?",
                                        "multiline": true
                                    },
                                    {
                                        "name": "Полезные советы",
                                        "type": "text",
                                        "label": "Полезные советы",
                                        "multiline": true
                                    },
                                    {
                                        "name": "Шаблоны",
                                        "type": "text",
                                        "label": "Шаблоны"
                                    },
                                    {
                                        "name": "Instagram",
                                        "type": "boolean",
                                        "label": "Instagram"
                                    },
                                    {
                                        "name": "Youtube",
                                        "type": "boolean",
                                        "label": "Youtube"
                                    },
                                    {
                                        "name": "Pix",
                                        "type": "text",
                                        "label": "Pix"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 3,
                            "module": "make:runScenarioWithInputs",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 11844232
                            },
                            "mapper": {
                                "scenario": "7360543",
                                "responsive": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1577,
                                    "y": -71
                                },
                                "restore": {
                                    "expect": {
                                        "scenario": {
                                            "rpcSearch": {
                                                "label": "D_Posting Reals",
                                                "value": 7360543
                                            }
                                        },
                                        "responsive": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "make2"
                                            },
                                            "label": "My Make (OAuth2) connection (i.zelikovsky@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:make2,make",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "scenario",
                                        "type": "text",
                                        "label": "Scenario ID",
                                        "required": true
                                    },
                                    {
                                        "name": "responsive",
                                        "type": "boolean",
                                        "label": "Wait for the scenario to finish"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 9,
                            "module": "telegram:SendReplyMessage",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 11843044
                            },
                            "mapper": {
                                "text": "⏱ Автопубликация: прошло 20 минут.",
                                "chatId": "8248706451",
                                "parseMode": "",
                                "replyMarkup": "",
                                "messageThreadId": "",
                                "replyToMessageId": "",
                                "replyMarkupAssembleType": "reply_markup_enter"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1925,
                                    "y": -71
                                },
                                "restore": {
                                    "expect": {
                                        "parseMode": {
                                            "label": "Empty"
                                        },
                                        "disableNotification": {
                                            "mode": "chose"
                                        },
                                        "replyMarkupAssembleType": {
                                            "label": "Enter the Reply Markup"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "telegram"
                                            },
                                            "label": "Content Factory"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:telegram",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "chatId",
                                        "type": "text",
                                        "label": "Chat ID",
                                        "required": true
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text",
                                        "required": true
                                    },
                                    {
                                        "name": "messageThreadId",
                                        "type": "number",
                                        "label": "Message Thread ID"
                                    },
                                    {
                                        "name": "parseMode",
                                        "type": "select",
                                        "label": "Parse Mode",
                                        "validate": {
                                            "enum": [
                                                "Markdown",
                                                "HTML"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "disableNotification",
                                        "type": "boolean",
                                        "label": "Disable Notifications"
                                    },
                                    {
                                        "name": "disableWebPagePreview",
                                        "type": "boolean",
                                        "label": "Disable Link Previews"
                                    },
                                    {
                                        "name": "replyToMessageId",
                                        "type": "number",
                                        "label": "Original Message ID"
                                    },
                                    {
                                        "name": "replyMarkupAssembleType",
                                        "type": "select",
                                        "label": "Enter/Assemble the Reply Markup Field",
                                        "validate": {
                                            "enum": [
                                                "reply_markup_enter",
                                                "reply_markup_assemble"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "replyMarkup",
                                        "type": "text",
                                        "label": "Reply Markup"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com",
        "notes": []
    }
}