Scout-Research Hunter.blueprint.json
{
    "name": "Scout/Research Hunter",
    "flow": [
        {
            "id": 300,
            "module": "airtable:ActionSearchRecords",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 11644137
            },
            "mapper": {
                "base": "appPVhgG5w5btA6UB",
                "sort": [
                    {
                        "field": "Дата",
                        "direction": "desc"
                    }
                ],
                "table": "tblIHcBoDk3Ex1Kcu",
                "fields": [
                    "Тема",
                    "Категория"
                ],
                "maxRecords": "10",
                "useColumnId": false
            },
            "metadata": {
                "designer": {
                    "x": -1934,
                    "y": 338
                },
                "restore": {
                    "expect": {
                        "base": {
                            "mode": "chose",
                            "label": "Content factory \"Soft Techn\""
                        },
                        "sort": {
                            "mode": "chose",
                            "items": [
                                {
                                    "field": {
                                        "mode": "chose",
                                        "label": "Дата"
                                    },
                                    "direction": {
                                        "mode": "chose",
                                        "label": "Descending"
                                    }
                                }
                            ]
                        },
                        "view": {
                            "mode": "chose"
                        },
                        "table": {
                            "mode": "chose",
                            "label": "💡Контент"
                        },
                        "fields": {
                            "mode": "chose",
                            "label": [
                                "Тема",
                                "Категория"
                            ]
                        },
                        "useColumnId": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable3"
                            },
                            "label": "My Airtable OAuth connection (User ID: usryO9E9iW5wzluhG)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "formula",
                        "type": "text",
                        "label": "Formula"
                    },
                    {
                        "name": "maxRecords",
                        "type": "integer",
                        "label": "Limit"
                    },
                    {
                        "name": "sort",
                        "spec": [
                            {
                                "name": "field",
                                "type": "select",
                                "label": "Field",
                                "dynamic": true,
                                "options": []
                            },
                            {
                                "name": "direction",
                                "type": "select",
                                "label": "Direction",
                                "options": [
                                    {
                                        "label": "Descending",
                                        "value": "desc"
                                    },
                                    {
                                        "label": "Ascending",
                                        "value": "asc"
                                    }
                                ]
                            }
                        ],
                        "type": "array",
                        "label": "Sort"
                    },
                    {
                        "name": "view",
                        "type": "select",
                        "label": "View"
                    },
                    {
                        "name": "fields",
                        "type": "select",
                        "label": "Output Fields",
                        "multiple": true
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "Тема",
                        "type": "text",
                        "label": "Тема",
                        "multiline": true
                    },
                    {
                        "name": "Категория",
                        "type": "text",
                        "label": "Категория"
                    }
                ]
            }
        },
        {
            "id": 301,
            "module": "builtin:BasicAggregator",
            "version": 1,
            "parameters": {
                "feeder": 300
            },
            "mapper": {
                "Тема": "{{300.`Тема`}}",
                "Категория": "{{300.`Категория`}}"
            },
            "metadata": {
                "designer": {
                    "x": -1620,
                    "y": 336
                },
                "restore": {
                    "extra": {
                        "feeder": {
                            "label": "Airtable - Search Records [300]"
                        },
                        "target": {
                            "label": "Custom"
                        }
                    }
                }
            }
        },
        {
            "id": 290,
            "module": "perplexity-ai:createAChatCompletion",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 11645710
            },
            "mapper": {
                "model": "sonar-pro",
                "messages": [
                    {
                        "role": "system",
                        "content": "Every day, find 3 fresh and relevant topics for short videos (Reels/Shorts) that would interest the target persona. Provide topics ONLY as a list in a JSON array (see “Output Format”).\n\nPersona:\n\t•\tName (placeholder): Max. M.\n\t•\tAge: 27–38\n\t•\tLocation: Europe (DE/PL/CZ/Nordics/Baltics) and Asia (TH/SG/ID/VN)\n\t•\tContent language: English\n\t•\tExperience: 1.5–5 years of trading (Forex, some futures)\n\t•\tGoals: scale capital without risking personal funds; move from hobby to profession; financial freedom and geographic flexibility\n\t•\tPains: blown accounts; lack of capital; distrust of prop firms; information overload\n\t•\tInterests: funded accounts/prop; futures vs Forex; financial freedom; digital nomad lifestyle; minimalism/efficiency\n\nBusiness-model lens:\n\t•\tProp trading funded accounts on futures (CME/EUREX).\n\t•\tSubscription-based evaluation; 1-stage / no strict deadline; EOD trailing drawdown; no daily loss limit; overnight on weekdays; closed on weekends.\n\t•\tExecution platform: VolFix.\n\t•\tProfit sharing: 100% of the first payouts, then 90/10.\n\t•\tPayouts via Deel.\n\t•\tRestrictions: futures only; single platform; consistency rules.\n\nFocus:\n\t•\tHighlight advantages and opportunities: “no risk of personal deposit,” “easy to try,” “access to larger capital,” “financial freedom.”\n\t•\tMention restrictions briefly and as secondary.\n\t•\tAvoid promises of easy money and clickbait.\n\t•\tTopics must be fact-checked, but framed positively.\n\t•\tNever repeat or slightly rephrase any of the last 10 topics provided in the user prompt. Always suggest new and distinct topics. If needed, invent adjacent but different angles.\n\nOutput format:\n\t•\tStrictly a JSON array, first line must be [.\n\t•\tExactly 3 objects: 1) Trading, 2) Fin. Freedom, 3) Lifestyle.\n\t•\tEach object only with the fields:\n\"Idea\": short topic in English\n\"Category\": \"Trading\" | \"Fin. Freedom\" | \"Lifestyle\"\n​"
                    },
                    {
                        "role": "user",
                        "content": "Collect 3 fresh and relevant topics for the persona “Max. M.” for today.\nDo not repeat or rephrase any of these past topics: {{301.array}}.\nOutput strictly as a JSON array with objects in the form {\"Idea\": \"...\", \"Category\": \"...\"}.\nCategories and order are fixed: Trading, Fin. Freedom, Lifestyle."
                    }
                ],
                "temperature": "0.5",
                "web_search_options": {
                    "search_context_size": "medium"
                }
            },
            "metadata": {
                "designer": {
                    "x": -1283,
                    "y": 335,
                    "name": "Scout"
                },
                "restore": {
                    "expect": {
                        "model": {
                            "mode": "chose",
                            "label": "sonar-pro"
                        },
                        "messages": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "System"
                                    }
                                },
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    }
                                }
                            ]
                        },
                        "return_images": {
                            "mode": "chose"
                        },
                        "web_search_options": {
                            "nested": {
                                "search_context_size": {
                                    "mode": "chose",
                                    "label": "Medium"
                                }
                            }
                        },
                        "search_domain_filter": {
                            "mode": "chose"
                        },
                        "search_recency_filter": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "return_related_questions": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "perplexity-ai"
                            },
                            "label": "My Perplexity connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:perplexity-ai",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "messages",
                        "spec": [
                            {
                                "name": "content",
                                "type": "text",
                                "label": "Content",
                                "required": true
                            },
                            {
                                "name": "role",
                                "type": "select",
                                "label": "Role",
                                "options": [
                                    {
                                        "label": "User",
                                        "value": "user"
                                    },
                                    {
                                        "label": "Assistant",
                                        "value": "assistant"
                                    },
                                    {
                                        "label": "System",
                                        "value": "system"
                                    }
                                ],
                                "required": true
                            }
                        ],
                        "type": "array",
                        "label": "Messages",
                        "required": true
                    },
                    {
                        "name": "max_tokens",
                        "type": "number",
                        "label": "Max Tokens"
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 1.999,
                            "min": 0
                        }
                    },
                    {
                        "name": "web_search_options",
                        "spec": [
                            {
                                "name": "search_context_size",
                                "type": "select",
                                "label": "Search Context Size",
                                "validate": {
                                    "enum": [
                                        "low",
                                        "medium",
                                        "high"
                                    ]
                                }
                            }
                        ],
                        "type": "collection",
                        "label": "Web Search Options"
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_k",
                        "type": "number",
                        "label": "Top K",
                        "validate": {
                            "max": 2048,
                            "min": 0
                        }
                    },
                    {
                        "name": "presence_penalty",
                        "type": "number",
                        "label": "Presence Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "frequency_penalty",
                        "type": "number",
                        "label": "Frequency Penalty",
                        "validate": {
                            "min": 0
                        }
                    },
                    {
                        "name": "search_domain_filter",
                        "spec": {
                            "name": "value",
                            "type": "text"
                        },
                        "type": "array",
                        "label": "Search Domain Filter"
                    },
                    {
                        "name": "search_recency_filter",
                        "type": "select",
                        "label": "Search Recency Filter",
                        "validate": {
                            "enum": [
                                "month",
                                "week",
                                "day",
                                "hour"
                            ]
                        }
                    },
                    {
                        "name": "return_images",
                        "type": "boolean",
                        "label": "Return Images"
                    },
                    {
                        "name": "return_related_questions",
                        "type": "boolean",
                        "label": "Return Related Questions"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 292,
            "module": "json:ParseJSON",
            "version": 1,
            "parameters": {
                "type": ""
            },
            "mapper": {
                "json": "{{290.choices[].message.content}}"
            },
            "metadata": {
                "designer": {
                    "x": -931,
                    "y": 332
                },
                "restore": {
                    "parameters": {
                        "type": {
                            "label": "Choose a data structure"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "type",
                        "type": "udt",
                        "label": "Data structure"
                    }
                ],
                "expect": [
                    {
                        "name": "json",
                        "type": "text",
                        "label": "JSON string",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 299,
            "module": "builtin:BasicAggregator",
            "version": 1,
            "parameters": {
                "feeder": 292
            },
            "mapper": {
                "Idea": "{{292.Idea}}",
                "Category": "{{292.Category}}"
            },
            "metadata": {
                "designer": {
                    "x": -505,
                    "y": 334
                },
                "restore": {
                    "extra": {
                        "feeder": {
                            "label": "JSON - Parse JSON [292]"
                        },
                        "target": {
                            "label": "Custom"
                        }
                    }
                }
            }
        },
        {
            "id": 298,
            "module": "builtin:BasicFeeder",
            "version": 1,
            "parameters": {},
            "mapper": {
                "array": "{{299.array}}"
            },
            "metadata": {
                "designer": {
                    "x": -204,
                    "y": 339
                },
                "restore": {
                    "expect": {
                        "array": {
                            "mode": "edit"
                        }
                    }
                },
                "expect": [
                    {
                        "mode": "edit",
                        "name": "array",
                        "spec": [],
                        "type": "array",
                        "label": "Array"
                    }
                ]
            }
        },
        {
            "id": 291,
            "module": "airtable:ActionCreateRecord",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 11644137
            },
            "mapper": {
                "base": "appPVhgG5w5btA6UB",
                "table": "tblIHcBoDk3Ex1Kcu",
                "record": {
                    "fld7FKnmH8dMIIhjU": "{{298.Category}}",
                    "fldQx0YpZ7qNzqZSI": "{{298.Idea}}"
                },
                "typecast": false,
                "useColumnId": false
            },
            "metadata": {
                "designer": {
                    "x": 117,
                    "y": 333
                },
                "restore": {
                    "expect": {
                        "base": {
                            "label": "Content factory \"Soft Techn\""
                        },
                        "table": {
                            "label": "💡Контент",
                            "nested": [
                                {
                                    "name": "record",
                                    "spec": [
                                        {
                                            "name": "fldQx0YpZ7qNzqZSI",
                                            "type": "text",
                                            "label": "Тема",
                                            "multiline": true
                                        },
                                        {
                                            "name": "fld7FKnmH8dMIIhjU",
                                            "type": "text",
                                            "label": "Категория"
                                        },
                                        {
                                            "name": "fldWLrLJAaiViOrc5",
                                            "type": "text",
                                            "label": "Исследование",
                                            "multiline": true
                                        },
                                        {
                                            "name": "fld0wuvPH9UMQM87J",
                                            "time": false,
                                            "type": "date",
                                            "label": "Дата"
                                        },
                                        {
                                            "name": "fldJgtqD54Wqla8uE",
                                            "type": "boolean",
                                            "label": "Done"
                                        },
                                        {
                                            "mode": "edit",
                                            "name": "fldsiwCHPjdSHtmfV",
                                            "type": "select",
                                            "label": "Статус",
                                            "dynamic": true,
                                            "options": [
                                                {
                                                    "label": "✅ Готово",
                                                    "value": "✅ Готово"
                                                },
                                                {
                                                    "label": "",
                                                    "value": ""
                                                }
                                            ],
                                            "validate": false
                                        },
                                        {
                                            "name": "flduE5z1qA6evNoEl",
                                            "spec": {
                                                "mode": "edit",
                                                "type": "select",
                                                "label": "Value",
                                                "dynamic": true,
                                                "options": [
                                                    {
                                                        "label": "фасады кухни 2025",
                                                        "value": "фасады кухни 2025"
                                                    },
                                                    {
                                                        "label": "матовые фасады",
                                                        "value": "матовые фасады"
                                                    },
                                                    {
                                                        "label": "глянец на кухне",
                                                        "value": "глянец на кухне"
                                                    },
                                                    {
                                                        "label": "модные кухни",
                                                        "value": "модные кухни"
                                                    },
                                                    {
                                                        "label": "кухня с островом",
                                                        "value": "кухня с островом"
                                                    },
                                                    {
                                                        "label": "островная кухня",
                                                        "value": "островная кухня"
                                                    },
                                                    {
                                                        "label": "дизайн кухни 2025",
                                                        "value": "дизайн кухни 2025"
                                                    },
                                                    {
                                                        "label": "кухня-гостиная",
                                                        "value": "кухня-гостиная"
                                                    },
                                                    {
                                                        "label": "Фасады кухни 2025",
                                                        "value": "Фасады кухни 2025"
                                                    },
                                                    {
                                                        "label": "шпон эмаль массив",
                                                        "value": "шпон эмаль массив"
                                                    },
                                                    {
                                                        "label": "топ 3 ткани",
                                                        "value": "топ 3 ткани"
                                                    }
                                                ],
                                                "validate": false
                                            },
                                            "type": "array",
                                            "label": "Ключевые слова"
                                        },
                                        {
                                            "mode": "edit",
                                            "name": "fldUCOjtyhngyKyUx",
                                            "type": "select",
                                            "label": "Действие",
                                            "dynamic": true,
                                            "options": [
                                                {
                                                    "label": "📢 Создать посты",
                                                    "value": "📢 Создать посты"
                                                },
                                                {
                                                    "label": "",
                                                    "value": ""
                                                }
                                            ],
                                            "validate": false
                                        },
                                        {
                                            "name": "fldVBwFK8q3U558ys",
                                            "type": "text",
                                            "label": "Старт",
                                            "multiline": true
                                        },
                                        {
                                            "name": "fldl27UPPYtGLHTCF",
                                            "type": "text",
                                            "label": "Тон & Стиль",
                                            "multiline": true
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Record"
                                }
                            ]
                        },
                        "record": {
                            "nested": {
                                "fldJgtqD54Wqla8uE": {
                                    "mode": "chose"
                                },
                                "fldUCOjtyhngyKyUx": {
                                    "mode": "edit"
                                },
                                "fldsiwCHPjdSHtmfV": {
                                    "mode": "edit"
                                },
                                "flduE5z1qA6evNoEl": {
                                    "mode": "chose"
                                }
                            }
                        },
                        "typecast": {
                            "mode": "chose"
                        },
                        "useColumnId": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable3"
                            },
                            "label": "My Airtable OAuth connection (User ID: usryO9E9iW5wzluhG)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "typecast",
                        "type": "boolean",
                        "label": "Smart links",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "record",
                        "spec": [
                            {
                                "name": "fldQx0YpZ7qNzqZSI",
                                "type": "text",
                                "label": "Тема"
                            },
                            {
                                "name": "fld7FKnmH8dMIIhjU",
                                "type": "text",
                                "label": "Категория"
                            },
                            {
                                "name": "fldWLrLJAaiViOrc5",
                                "type": "text",
                                "label": "Исследование"
                            },
                            {
                                "name": "fld0wuvPH9UMQM87J",
                                "time": false,
                                "type": "date",
                                "label": "Дата"
                            },
                            {
                                "name": "fldJgtqD54Wqla8uE",
                                "type": "boolean",
                                "label": "Done"
                            },
                            {
                                "mode": "edit",
                                "name": "fldsiwCHPjdSHtmfV",
                                "type": "select",
                                "label": "Статус"
                            },
                            {
                                "name": "flduE5z1qA6evNoEl",
                                "spec": {
                                    "mode": "edit",
                                    "name": "value",
                                    "type": "select",
                                    "label": "Value",
                                    "dynamic": true,
                                    "options": [
                                        {
                                            "label": "фасады кухни 2025",
                                            "value": "фасады кухни 2025"
                                        },
                                        {
                                            "label": "матовые фасады",
                                            "value": "матовые фасады"
                                        },
                                        {
                                            "label": "глянец на кухне",
                                            "value": "глянец на кухне"
                                        },
                                        {
                                            "label": "модные кухни",
                                            "value": "модные кухни"
                                        },
                                        {
                                            "label": "кухня с островом",
                                            "value": "кухня с островом"
                                        },
                                        {
                                            "label": "островная кухня",
                                            "value": "островная кухня"
                                        },
                                        {
                                            "label": "дизайн кухни 2025",
                                            "value": "дизайн кухни 2025"
                                        },
                                        {
                                            "label": "кухня-гостиная",
                                            "value": "кухня-гостиная"
                                        },
                                        {
                                            "label": "Фасады кухни 2025",
                                            "value": "Фасады кухни 2025"
                                        },
                                        {
                                            "label": "шпон эмаль массив",
                                            "value": "шпон эмаль массив"
                                        },
                                        {
                                            "label": "топ 3 ткани",
                                            "value": "топ 3 ткани"
                                        }
                                    ],
                                    "validate": false
                                },
                                "type": "array",
                                "label": "Ключевые слова"
                            },
                            {
                                "mode": "edit",
                                "name": "fldUCOjtyhngyKyUx",
                                "type": "select",
                                "label": "Действие"
                            },
                            {
                                "name": "fldVBwFK8q3U558ys",
                                "type": "text",
                                "label": "Старт"
                            },
                            {
                                "name": "fldl27UPPYtGLHTCF",
                                "type": "text",
                                "label": "Тон & Стиль"
                            }
                        ],
                        "type": "collection",
                        "label": "Record"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "Тема",
                        "type": "text",
                        "label": "Тема",
                        "multiline": true
                    },
                    {
                        "name": "Категория",
                        "type": "text",
                        "label": "Категория"
                    },
                    {
                        "name": "Исследование",
                        "type": "text",
                        "label": "Исследование",
                        "multiline": true
                    },
                    {
                        "name": "Дата",
                        "time": false,
                        "type": "date",
                        "label": "Дата"
                    },
                    {
                        "name": "Done",
                        "type": "boolean",
                        "label": "Done"
                    },
                    {
                        "name": "Статус",
                        "type": "text",
                        "label": "Статус"
                    },
                    {
                        "name": "Ключевые слова",
                        "type": "array",
                        "label": "Ключевые слова",
                        "dynamic": true,
                        "editable": true
                    },
                    {
                        "name": "Действие",
                        "type": "text",
                        "label": "Действие"
                    },
                    {
                        "name": "Старт",
                        "type": "text",
                        "label": "Старт",
                        "multiline": true
                    },
                    {
                        "name": "Тон & Стиль",
                        "type": "text",
                        "label": "Тон & Стиль",
                        "multiline": true
                    }
                ]
            }
        },
        {
            "id": 295,
            "module": "airtable:ActionSearchRecords",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 11644137
            },
            "mapper": {
                "base": "appPVhgG5w5btA6UB",
                "table": "tblIHcBoDk3Ex1Kcu",
                "formula": "{Исследование} = \"\"",
                "maxRecords": "3",
                "useColumnId": false
            },
            "metadata": {
                "designer": {
                    "x": 485,
                    "y": 343
                },
                "restore": {
                    "expect": {
                        "base": {
                            "mode": "chose",
                            "label": "Content factory \"Soft Techn\""
                        },
                        "sort": {
                            "mode": "chose"
                        },
                        "view": {
                            "mode": "chose"
                        },
                        "table": {
                            "mode": "chose",
                            "label": "💡Контент"
                        },
                        "fields": {
                            "mode": "chose"
                        },
                        "useColumnId": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable3"
                            },
                            "label": "My Airtable OAuth connection (User ID: usryO9E9iW5wzluhG)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "formula",
                        "type": "text",
                        "label": "Formula"
                    },
                    {
                        "name": "maxRecords",
                        "type": "integer",
                        "label": "Limit"
                    },
                    {
                        "name": "sort",
                        "spec": [
                            {
                                "name": "field",
                                "type": "select",
                                "label": "Field",
                                "dynamic": true,
                                "options": []
                            },
                            {
                                "name": "direction",
                                "type": "select",
                                "label": "Direction",
                                "options": [
                                    {
                                        "label": "Descending",
                                        "value": "desc"
                                    },
                                    {
                                        "label": "Ascending",
                                        "value": "asc"
                                    }
                                ]
                            }
                        ],
                        "type": "array",
                        "label": "Sort"
                    },
                    {
                        "name": "view",
                        "type": "select",
                        "label": "View"
                    },
                    {
                        "name": "fields",
                        "type": "select",
                        "label": "Output Fields",
                        "multiple": true
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "Тема",
                        "type": "text",
                        "label": "Тема",
                        "multiline": true
                    },
                    {
                        "name": "Категория",
                        "type": "text",
                        "label": "Категория"
                    },
                    {
                        "name": "Исследование",
                        "type": "text",
                        "label": "Исследование",
                        "multiline": true
                    },
                    {
                        "name": "Дата",
                        "time": false,
                        "type": "date",
                        "label": "Дата"
                    },
                    {
                        "name": "Done",
                        "type": "boolean",
                        "label": "Done"
                    },
                    {
                        "name": "Статус",
                        "type": "text",
                        "label": "Статус"
                    },
                    {
                        "name": "Ключевые слова",
                        "type": "array",
                        "label": "Ключевые слова",
                        "dynamic": true,
                        "editable": true
                    },
                    {
                        "name": "Действие",
                        "type": "text",
                        "label": "Действие"
                    },
                    {
                        "name": "Старт",
                        "type": "text",
                        "label": "Старт",
                        "multiline": true
                    },
                    {
                        "name": "Тон & Стиль",
                        "type": "text",
                        "label": "Тон & Стиль",
                        "multiline": true
                    }
                ]
            }
        },
        {
            "id": 57,
            "module": "perplexity-ai:createAChatCompletion",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 11645710
            },
            "mapper": {
                "model": "sonar-pro",
                "messages": [
                    {
                        "role": "system",
                        "content": "System Prompt – Research Analyst\n\nYou are Research Analyst.\nYour role: when Research Scout provides a topic (Idea), you must return exactly one structured research object.\n\nPersona:\n\t•\tName: Max M.\n\t•\tAge: 27–38\n\t•\tLocation: Europe (DE/PL/CZ/Nordics/Baltics) and Asia (TH/SG/ID/VN)\n\t•\tExperience: 1.5–5 years in trading (Forex, some futures)\n\t•\tGoals: scale capital without risking personal funds; move from hobby to profession; financial freedom and geographic flexibility\n\t•\tPains: blown accounts; lack of capital; distrust of prop firms; information overload\n\t•\tInterests: funded accounts/prop; futures vs Forex; financial freedom; digital nomad lifestyle; minimalism/efficiency\n\nCore message:\n\t•\tFunded accounts = fast access to capital without risking personal funds.\n\t•\tRemoves fear of losing deposits and lack of funds.\n\t•\tLiving as a digital nomad and growing as a trader is realistic through the prop model.\n\nOutput format:\nAlways return a JSON array with exactly one object in this structure:\n\n[\n  {\n    \"Idea\": \"...\",\n    \"Description\": \"...\",\n    \"WhyItMatters\": \"...\",\n    \"UsefulTips\": \"...\",\n    \"Category\": \"Trading\" | \"Fin. Freedom\" | \"Lifestyle\"\n  }\n]\n\nRules:\n\t•\tFor each Idea, return only one research object. Do not split into multiple subtopics, countries, or variations. Condense into one structured result.\n\t•\tStyle: friendly, simple English.\n\t•\t70% focus on trader benefits/solutions, 30% on rules/limits.\n\t•\tAlways connect the research back to funded accounts and the persona’s pains/goals.\n\t•\tEnd with a light invitation (“try”, “start”, “join”).\n\t•\tCategory must always be one of: \"Trading\", \"Fin. Freedom\", \"Lifestyle\". Never invent new categories.\n​"
                    },
                    {
                        "role": "user",
                        "content": "Take the following topics and do research with internet sources:  \n{{291.`Тема`}}, category {{291.`Категория`}}\n\nReturn strictly in JSON array with fields \"Idea\", \"Description\", \"WhyItMatters\", \"UsefulTips\", \"Category\"."
                    }
                ],
                "temperature": "0.5",
                "web_search_options": {
                    "search_context_size": "medium"
                }
            },
            "metadata": {
                "designer": {
                    "x": 786,
                    "y": 349,
                    "name": "research anayst"
                },
                "restore": {
                    "expect": {
                        "model": {
                            "mode": "chose",
                            "label": "sonar-pro"
                        },
                        "messages": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "System"
                                    }
                                },
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    }
                                }
                            ]
                        },
                        "return_images": {
                            "mode": "chose"
                        },
                        "web_search_options": {
                            "nested": {
                                "search_context_size": {
                                    "mode": "chose",
                                    "label": "Medium"
                                }
                            }
                        },
                        "search_domain_filter": {
                            "mode": "chose"
                        },
                        "search_recency_filter": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "return_related_questions": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "perplexity-ai"
                            },
                            "label": "My Perplexity connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:perplexity-ai",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "messages",
                        "spec": [
                            {
                                "name": "content",
                                "type": "text",
                                "label": "Content",
                                "required": true
                            },
                            {
                                "name": "role",
                                "type": "select",
                                "label": "Role",
                                "options": [
                                    {
                                        "label": "User",
                                        "value": "user"
                                    },
                                    {
                                        "label": "Assistant",
                                        "value": "assistant"
                                    },
                                    {
                                        "label": "System",
                                        "value": "system"
                                    }
                                ],
                                "required": true
                            }
                        ],
                        "type": "array",
                        "label": "Messages",
                        "required": true
                    },
                    {
                        "name": "max_tokens",
                        "type": "number",
                        "label": "Max Tokens"
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 1.999,
                            "min": 0
                        }
                    },
                    {
                        "name": "web_search_options",
                        "spec": [
                            {
                                "name": "search_context_size",
                                "type": "select",
                                "label": "Search Context Size",
                                "validate": {
                                    "enum": [
                                        "low",
                                        "medium",
                                        "high"
                                    ]
                                }
                            }
                        ],
                        "type": "collection",
                        "label": "Web Search Options"
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_k",
                        "type": "number",
                        "label": "Top K",
                        "validate": {
                            "max": 2048,
                            "min": 0
                        }
                    },
                    {
                        "name": "presence_penalty",
                        "type": "number",
                        "label": "Presence Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "frequency_penalty",
                        "type": "number",
                        "label": "Frequency Penalty",
                        "validate": {
                            "min": 0
                        }
                    },
                    {
                        "name": "search_domain_filter",
                        "spec": {
                            "name": "value",
                            "type": "text"
                        },
                        "type": "array",
                        "label": "Search Domain Filter"
                    },
                    {
                        "name": "search_recency_filter",
                        "type": "select",
                        "label": "Search Recency Filter",
                        "validate": {
                            "enum": [
                                "month",
                                "week",
                                "day",
                                "hour"
                            ]
                        }
                    },
                    {
                        "name": "return_images",
                        "type": "boolean",
                        "label": "Return Images"
                    },
                    {
                        "name": "return_related_questions",
                        "type": "boolean",
                        "label": "Return Related Questions"
                    }
                ]
            },
            "onerror": [
                {
                    "id": 59,
                    "module": "builtin:Break",
                    "version": 1,
                    "parameters": {},
                    "mapper": {
                        "count": "3",
                        "retry": true,
                        "interval": "1"
                    },
                    "metadata": {
                        "designer": {
                            "x": 1031,
                            "y": 679
                        },
                        "restore": {
                            "expect": {
                                "retry": {
                                    "mode": "chose"
                                }
                            }
                        },
                        "expect": [
                            {
                                "name": "retry",
                                "type": "boolean",
                                "label": "Automatically complete execution",
                                "required": true
                            },
                            {
                                "name": "count",
                                "type": "uinteger",
                                "label": "Number of attempts",
                                "required": true,
                                "validate": {
                                    "max": 10000,
                                    "min": 1
                                }
                            },
                            {
                                "name": "interval",
                                "type": "uinteger",
                                "label": "Interval between attempts",
                                "required": true,
                                "validate": {
                                    "max": 44640,
                                    "min": 1
                                }
                            }
                        ]
                    }
                }
            ]
        },
        {
            "id": 302,
            "module": "regexp:Parser",
            "version": 1,
            "parameters": {
                "global": false,
                "pattern": "(?<json>\\[[\\w\\W]*\\])",
                "multiline": true,
                "sensitive": true,
                "singleline": false,
                "continueWhenNoRes": false
            },
            "mapper": {
                "text": "{{57.choices[].message.content}}"
            },
            "metadata": {
                "designer": {
                    "x": 1230,
                    "y": 352
                },
                "restore": {},
                "parameters": [
                    {
                        "name": "pattern",
                        "type": "text",
                        "label": "Pattern",
                        "required": true
                    },
                    {
                        "name": "global",
                        "type": "boolean",
                        "label": "Global match",
                        "required": true
                    },
                    {
                        "name": "sensitive",
                        "type": "boolean",
                        "label": "Case sensitive",
                        "required": true
                    },
                    {
                        "name": "multiline",
                        "type": "boolean",
                        "label": "Multiline",
                        "required": true
                    },
                    {
                        "name": "singleline",
                        "type": "boolean",
                        "label": "Singleline",
                        "required": true
                    },
                    {
                        "name": "continueWhenNoRes",
                        "type": "boolean",
                        "label": "Continue the execution of the route even if the module finds no matches",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "text",
                        "type": "text",
                        "label": "Text"
                    }
                ],
                "interface": [
                    {
                        "name": "json",
                        "type": "text",
                        "label": "json"
                    }
                ]
            }
        },
        {
            "id": 60,
            "module": "airtable:ActionUpdateRecords",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 11644137
            },
            "mapper": {
                "id": "{{295.id}}",
                "base": "appPVhgG5w5btA6UB",
                "table": "tblIHcBoDk3Ex1Kcu",
                "record": {
                    "fldWLrLJAaiViOrc5": "{{302.json}}"
                },
                "typecast": false,
                "useColumnId": false
            },
            "metadata": {
                "designer": {
                    "x": 1648,
                    "y": 355
                },
                "restore": {
                    "expect": {
                        "base": {
                            "label": "Content factory \"Soft Techn\""
                        },
                        "table": {
                            "label": "💡Контент"
                        },
                        "record": {
                            "nested": {
                                "fldJgtqD54Wqla8uE": {
                                    "mode": "chose"
                                },
                                "fldUCOjtyhngyKyUx": {
                                    "mode": "chose",
                                    "label": "Empty"
                                },
                                "fldsiwCHPjdSHtmfV": {
                                    "mode": "chose",
                                    "label": "Empty"
                                },
                                "flduE5z1qA6evNoEl": {
                                    "mode": "chose"
                                }
                            }
                        },
                        "typecast": {
                            "mode": "chose"
                        },
                        "useColumnId": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable3"
                            },
                            "label": "My Airtable OAuth connection (User ID: usryO9E9iW5wzluhG)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "typecast",
                        "type": "boolean",
                        "label": "Smart links",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "Record ID",
                        "required": true
                    },
                    {
                        "name": "record",
                        "spec": [
                            {
                                "name": "fldQx0YpZ7qNzqZSI",
                                "type": "text",
                                "label": "Тема"
                            },
                            {
                                "name": "fld7FKnmH8dMIIhjU",
                                "type": "text",
                                "label": "Категория"
                            },
                            {
                                "name": "fldWLrLJAaiViOrc5",
                                "type": "text",
                                "label": "Исследование"
                            },
                            {
                                "name": "fldJgtqD54Wqla8uE",
                                "type": "boolean",
                                "label": "Done"
                            },
                            {
                                "mode": "edit",
                                "name": "fldsiwCHPjdSHtmfV",
                                "type": "select",
                                "label": "Статус"
                            },
                            {
                                "name": "flduE5z1qA6evNoEl",
                                "spec": {
                                    "mode": "edit",
                                    "name": "value",
                                    "type": "select",
                                    "label": "Value",
                                    "dynamic": true,
                                    "options": [
                                        {
                                            "label": "фасады кухни 2025",
                                            "value": "фасады кухни 2025"
                                        },
                                        {
                                            "label": "матовые фасады",
                                            "value": "матовые фасады"
                                        },
                                        {
                                            "label": "глянец на кухне",
                                            "value": "глянец на кухне"
                                        },
                                        {
                                            "label": "модные кухни",
                                            "value": "модные кухни"
                                        },
                                        {
                                            "label": "кухня с островом",
                                            "value": "кухня с островом"
                                        },
                                        {
                                            "label": "островная кухня",
                                            "value": "островная кухня"
                                        },
                                        {
                                            "label": "дизайн кухни 2025",
                                            "value": "дизайн кухни 2025"
                                        },
                                        {
                                            "label": "кухня-гостиная",
                                            "value": "кухня-гостиная"
                                        },
                                        {
                                            "label": "Фасады кухни 2025",
                                            "value": "Фасады кухни 2025"
                                        },
                                        {
                                            "label": "шпон эмаль массив",
                                            "value": "шпон эмаль массив"
                                        },
                                        {
                                            "label": "топ 3 ткани",
                                            "value": "топ 3 ткани"
                                        }
                                    ],
                                    "validate": false
                                },
                                "type": "array",
                                "label": "Ключевые слова"
                            },
                            {
                                "mode": "edit",
                                "name": "fldUCOjtyhngyKyUx",
                                "type": "select",
                                "label": "Действие"
                            },
                            {
                                "name": "fldVBwFK8q3U558ys",
                                "type": "text",
                                "label": "Старт"
                            },
                            {
                                "name": "fldl27UPPYtGLHTCF",
                                "type": "text",
                                "label": "Тон & Стиль"
                            }
                        ],
                        "type": "collection",
                        "label": "Record"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": true,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com",
        "notes": []
    }
}